<!-- Alert Messages Container -->
<!-- This div is used by JavaScript to display dynamic success/error alerts -->
<div class="container mt-3">
    <div id="alert-container">
        <!-- Alerts will be injected here by JavaScript -->
    </div>
</div>
